<header class="main-header">
  <a [routerLink]="['/']" class="logo">
    <span class="logo-mini"><b>HD</b></span>
    <span class="logo-lg"><b>HelpDesk</b></span>
  </a>

  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
      <p>
        <span style="color: white">{{shared.user.email}} - {{shared.user.profile}}  </span>
        <button class="btn btn-info btn-sm" (click)="logout()">Logout</button>
      </p>
    </div>

  </nav>
</header>